In [1]:
import pandas as pd
import numpy as np

#read dataset
df=pd.read_csv("Jill_August_1_shortened.csv")         
df.head()

,Product Name,Available Quantity,Color,Size,Size Name,Price,Sale Price,Price Type,Date,Location,ID,Variant ID,SKU
0,PIMA ANKLE LEGGINGS,457,white,L,Misses,39.0,39.0,full price,2021-08-01,3J006B,801,408638,220991801L
1,PIMA ANKLE LEGGINGS,321,white,M,Misses,39.0,39.0,full price,2021-08-01,3J006B,801,408639,220991801M
2,PIMA ANKLE LEGGINGS,259,white,S,Misses,39.0,39.0,full price,2021-08-01,3J006B,801,408640,220991801S
3,PIMA ANKLE LEGGINGS,139,white,XL,Misses,39.0,39.0,full price,2021-08-01,3J006B,801,408641,220991801XL
4,PIMA ANKLE LEGGINGS,132,white,XS,Misses,39.0,39.0,full price,2021-08-01,3J006B,801,408642,220991801XS

In [9]:
#change variable types
df.dtypes
df['Color']=df['Color'].astype('category')
df['Color']=df['Color'].cat.codes
#df['productName']=df['Product Name']
#df['priceType']=df['Price Type']
df.head()

   Color          productName   priceType
0    385  PIMA ANKLE LEGGINGS  full price
1    385  PIMA ANKLE LEGGINGS  full price
2    385  PIMA ANKLE LEGGINGS  full price
3    385  PIMA ANKLE LEGGINGS  full price
4    385  PIMA ANKLE LEGGINGS  full price

In [10]:
#drop unnecessary columns
#df1=df.drop(['Product Name','Available Quantity','Size','Size Name','Price','Sale Price','Price Type','Date','Location','ID','Variant ID','SKU'],axis=1,inplace=True)

#separate target from dependent variables
target=df.priceType
inputs=df.drop('priceType',axis=1)

In [11]:
#change variable type
size=pd.get_dummies(inputs.productName)

In [12]:
inputs=pd.concat([inputs,size],axis=1)
inputs.drop('productName',axis=1,inplace=True)
inputs.head()

,Color,3/4-SLEEVE BOAT-NECK KNIT TOP,4 WAY STRETCH HIGH-RISE SKINNY JEANS,A-LINE SWEATER DRESS,A-LINE SWEATER TUNIC,AF EMBELLISHED-HEM ANKLE JEANS,ARBOR V-NECK SWEATER,AUTHENTIC FIT BUTTONED-HEM ANKLE JEANS,AUTHENTIC FIT FRINGED-HEM CROPPED JEANS,AUTHENTIC FIT SLIM LEG,...,WEAREVER FULL-LEG SHORTS,WEAREVER LAYERING TANK,WEAREVER MIXED-STRIPES DUSTER,WEAREVER PERFECT V-NECK TEE,WEAREVER PLEATED-NECKLINE TUNIC,WEAREVER RIBBED BOAT-NECK DRESS,WEAREVER SAFARI JACKET,WEAREVER SEAMED BOAT-NECK TOP,WEAREVER SHIRTTAIL-HEMLINE TOP,WEAREVER V-NECK A-LINE DRESS
0,385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,385,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
#split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(inputs,target,test_size=0.2)

In [14]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [15]:
#train model
model.fit(X_train,y_train)

GaussianNB()

In [16]:
model.score(X_test,y_test)

0.795045045045045

In [17]:
y_test[:10]

1327     full price
9487        on sale
9708        on sale
4964     full price
544      full price
5514     full price
7478        on sale
10064       on sale
7797        on sale
15408       on sale
Name: priceType, dtype: object

In [18]:
model.predict(X_test[:10])

array(['on sale', 'on sale', 'final sale', 'full price', 'full price',
       'full price', 'on sale', 'final sale', 'on sale', 'on sale'],
      dtype='<U10')

In [19]:
model.predict_proba(X_test[:10])

array([[0.00000000e+000, 6.14238498e-090, 1.00000000e+000],
       [0.00000000e+000, 8.49877689e-087, 1.00000000e+000],
       [1.00000000e+000, 4.43213853e-212, 8.04791168e-123],
       [0.00000000e+000, 1.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 1.00000000e+000],
       [1.00000000e+000, 4.47770416e-212, 8.09127190e-123],
       [0.00000000e+000, 1.43424324e-099, 1.00000000e+000],
       [0.00000000e+000, 2.04383104e-086, 1.00000000e+000]])